body {
    font-size:18px;
    line-height:26x;
}

h1 {
    font-size: 48px;
    line-height: 54px;
    letter-spacing:-1px;
}

h2 {
    font-size: 28px;
    line-height: 34px;
}


.casestudy-image img {
    max-width:100%;
    height:auto;
}



.button_container {
    display:block;
}

.one-third, .two-thirds, .about-stats .one-third, .core-values .one-third, .contact-left, .contact-right, .casestudy-text, .casestudy-image {
    width:100%;
    float:none;
}

.casestudy-text, .casestudy-image {
    padding:0px !important;
}

.logo {
    background:url('../img/logo-small.png');
    width:50px;
    height:47px;
}


@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 192dpi) { 
    .logo {
    background:url('../img/logo-small@2x.png');
        background-size:50px 47px;
    }
}

.main-navigation ul, .header {
    height: 44px;
    margin-top:0px;
}

.main-navigation ul li {
    margin: 0px 14px;
    padding: 0px;
}


.main-navigation ul li a {
    height: 46px;
    line-height:48px;
}

.main-navigation ul li a:hover:after, .main-navigation ul li a:focus:after, .main-navigation ul li.active a:after {
    bottom:8px;
}

.main-intro {
    margin: 150px 0px 80px 0px;
}

.main-intro h1 {
    padding: 0% 0%;
    font-size: 42px;
    line-height: 46px;
    letter-spacing:-1px;
}

.work-preview .container {
    background-image:none;
    padding:0px 32px;
}

.work-preview .content-left {
    width:100%;
    padding:36px  0px;
}

.work-preview h2 {
    font-size: 24px;
    line-height: 30px;
    margin:62px 0px 74px;
    padding-left:0px;
    letter-spacing:0px;
}

.footer .container {
        padding: 94px 32px 100px 32px;
}


.footer h1 {
    font-size: 40px;
    line-height: 58px;
    letter-spacing:-1px;
}

.footer h1 small {
    font-size: 22px;
    letter-spacing:0px;
    padding-left:3px; 
}

.main-intro p {
    padding: 0% 0%;
    margin-top: 18px;
    font-size: 22px;
    line-height: 30px;
    font-weight:300;
}

.service-group .accordion-toggle {
    padding:32px 28px;
    font-size:20px;
}

.accordion-toggle .right img {
    margin-top:4.5px;
}

.accordion-toggle .description {
 display:none;
}

.service-group .accordion-content {
    margin-left:0%;
    width:100%;
    padding:0px 28px 38px 28px;
    box-sizing: border-box;
}

.about-row {
    margin-bottom:80px;
}

.about-row .container {
    padding: 80px 0px 0px 0px;
}

.contact-box ul li {
    margin-left:0;
}

.contact-left {
    float:left;
}

.contact-box .one-third {
    margin-top:80px;
    display:none;
}

.input-half {
    width:100%;
    float:none;
}

.casestudy {
    overflow-y:auto !important;
    margin-bottom:50px;
}

.casestudy-preview {
    padding:80px 0px 20px 0px;
    margin-bottom:80px;
}

.casestudy-preview p {
    padding-bottom:14px;
}

.mobile .casestudy-text {
    margin-top:80px;
}

.casestudy {
    padding:80px 0px;
}

.hero-left {
    margin-top:40px;
    width:100%;
    float:none;
    padding:0px 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hero-left p {
    
    font-size: 22px;
    line-height: 28px;
}

.hero-right {
    display:none;
}

.casestudy-row {
    margin-bottom:80px;
}

.challenge .casestudy-image, .process .casestudy-image {display:none;}

.work-preview.one-half {
    width:100%;
    margin-bottom:0px;
    margin-top:20px;
}

.work-preview.one-half .container {
    width:100%;
}

.footer {
    margin-top:100px;
}

.process .one-half, .process .one-sixth {
    width:100%;
    float:none;
}

.verticalborder {
    display:none !important;
}

.verticaltext {
display:none !important;
}

.tab-links .active a, .tab-links .active {
    float:left;
}

.tab-links li a {
    font-size:38px;
    line-height:40px;
}

.tab-links li {
    display:inline-block;
    float:left;
    clear:none;
    padding-right:14px;
    margin-top:0px;
}

.small-header {
    margin-bottom:20px;
}

.tab-links li:nth-last-child(1) {
    padding-right:0px;
}

.about-row h2 {
    padding-bottom:16px;
}

.tab-content p:nth-last-child(1) {
    padding-bottom:0px;
}

.nav__link {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.nav__item {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.main-navigation {
    display:none;
}

.preview-image {
    padding:0px 20px;
}


.hero-center h1 {
    width:88%;
    font-size: 26px;
    line-height: 34px;
    margin-top:16px;
}

.casestudy {
    padding-bottom:0px;
}

.hero-center-img {
    width:90%;
    height:auto;
    margin:0 auto;
    margin-top:60px;
}

.casestudy-preview {
    padding:80px 20px 80px 20px;
}
 
.casestudy-main-left {
    width:100%;
    float:none;
    text-align:center;
}

.casestudy-main-left h2 {
    letter-spacing:0px;}

.casestudy-main-left p {
    font-size:18px;
    line-height:28px;
    font-family:"ProximaNova-Regular",sans-serif;
    padding-top:12px;
    padding-bottom:10px;
}

.casestudy-main-right {
    width:100%;
    float:none;
    padding-top:32px;
    text-align:center;
}

.colorbox {
    margin-top: 0px !important;
    margin-bottom: 14px;
    height: 108px;
    width: 46%;
    margin-left: 2% !important;
    margin-right: 2% !important;
    padding: 16px 12px;
}

.colorbox h3 {
    font-size:16px;
    line-height:20px;
}

.colorbox span {
    left: 12px;
    bottom: 4px;
    font-size: 12px;
}

.colorbox:last-child {
    margin-bottom:0px;
}

.nav-tabs li a {
    padding:0px 10px;
    height:32px;
    line-height:34px;
    font-size:13px;
}

#typo .one-half {
    width:100% !important;
    padding-left:0% !important;
    padding-right:0% !important;
}

#typo .one-half:nth-child(2) {
    margin-top:48px;
}

#typo .one-half:nth-child(1) h1 small {
    margin-bottom:16px;
}

#typo .one-half h1 {
    font-size:32px;
    line-height:38px;
}

#typo .one-half:nth-child(2) p {
    display:none;
}

#typo .one-half:nth-child(2) p:last-child {
    display:block;
}

.one-sixth {
    width:50%;
    float:left;
    margin-bottom:48px;
}

.one-sixth:nth-last-child(1), .one-sixth:nth-last-child(2) {
    margin-bottom:0px;
}

.clearicon {
    height:0px;
}

.cs-preview p {
    padding:0%;
    font-size:18px;
    line-height:26px;
}
.cs-preview .one-third {
    margin-bottom:48px;
}

.cs-preview .one-third img {
    max-width:100%;
    height:auto;
}

.cs-preview {
    padding-bottom:20px;
    margin-bottom:0px;
}

.spartanhost .footer, .yourlasthost .footer, .shockvpn .footer, .hostnamaste .footer, .croc-web .footer{
    margin-top:48px;
}


.work-preview.hostcircle .container, .work-preview.dotcanada .container, .work-preview.colorhost .container {
    background-image:none;
}

.contact-box .main-intro {
    margin-top:110px;
}

.contact-box {
    padding:20px;
}

.casestudy-main h1 {
    font-weight:normal;
    font-size: 42px;
    line-height: 54px;
    
}

.casestudy-main h2 {
    font-size: 24px;
    line-height: 36px;
}

.casestudy .hero-center img:nth-child(1) {
    max-width:140px;
    height:auto;
    margin-bottom:8px;
}

.work-preview.hostcirclecom .container {
    background: #12213c;
}

.work-preview .container .work-logo img {
    height:40px;
    width:auto;
}

.flex-grid.two .col {
    width:100%;
}

.casestudy-preview h2 {
    margin-bottom: 32px;
}