---
import Layout from '../layouts/Layout.astro';
import WorkPreview from '../components/work-preview.astro';
---

<Layout title="Varcoe - Get In Touch">


    <section class="contact-box">
        <div class="container">
            <div class="contact-left">
                <div class="main-intro text-left">
                    <h1>Don't be shy,<br>talk to me.</h1>
                </div>
                <form name="inscription" netlify>
                    <div class="field">
                        <label>Nom *</label>
                        <div class="control">
                            <input type="text" class="input is-medium" placeholder="Nom" name="firstname" required>
                        </div>
                    </div>
                    <div class="field">
                        <label>Prénom *</label>
                        <div class="control">
                            <input type="text" class="input is-medium" placeholder="Prénom" name="lastname" required>
                        </div>
                    </div>
                    <div class="field">
                        <label>Adresse email *</label>
                        <div class="control">
                            <input type="mail" class="input is-medium" placeholder="Adresse email" name="email" required>
                        </div>
                    </div>
                    <div class="field">
                        <label>Téléphone</label>
                        <div class="control">
                            <input type="tel" class="input is-medium" placeholder="Téléphone" name="phone" minlength="10" >
                        </div>
                    </div>
                    <div class="field">
                        <label>Société</label>
                        <div class="control">
                            <input type="text" class="input is-medium" placeholder="Société" name="company">
                        </div>
                    </div>
                    <input type="submit" class="button is-fullwidth secondary-btn is-rounded" value="Commencer"/>
                </form>

            </div> 

            <div class="one-third">
                <ul>
                    <li><img src="img/email.png" alt="Email" width="48" height="48">
                        <h4><span>Direct Email</span><a href="mailto:korey@varcoe.net">korey@varcoe.net</a></h4>
                    </li>
                    <li><img src="img/skype.png" alt="Skype" width="48" height="48">
                        <h4><span>Skype</span><a href="skype:varcoedesign?chat">varcoedesign</a></h4>
                    </li>

                    <li><img src="img/discord.png" alt="Skype" width="48" height="48">
                        <h4><span>Discord</span><a href="skype:varcoedesign?chat">varcoenet</a></h4>
                    </li>

                </ul>
            </div>

            <div class="clearfix"></div>
            <a href="/" class="logofooter"></a>
        </div>
    </section>

</Layout>
