---
import Layout from '../layouts/Layout.astro';
import WorkPreview from '../components/work-preview.astro';
---

<Layout title="Varcoe - Get In Touch">


    <section class="contact-box">
        <div class="container">
            <div class="contact-left">
                <div class="main-intro text-left">
                    <h1>Don't be shy,<br>talk to me.</h1>
                </div>

                <form
                name="contact"
                method="POST"
                netlify-honeypot="bot-field"
                data-netlify="true"
              >
                <p class="hidden">
                  <label>
                    Don’t fill this out if you’re human: <input name="bot-field" />
                  </label>
                </p>
                <p>
                  <label>
                    Email: <input type="text" name="email" />
                  </label>
                </p>
                <p>
                  <label>
                    Message: <textarea name="message"></textarea>
                  </label>
                </p>
                <p>
                  <button type="submit">Send</button>
                </p>
              </form>


            </div> 

            <div class="one-third">
                <ul>
                    <li><img src="img/email.png" alt="Email" width="48" height="48">
                        <h4><span>Direct Email</span><a href="mailto:korey@varcoe.net">korey@varcoe.net</a></h4>
                    </li>
                    <li><img src="img/skype.png" alt="Skype" width="48" height="48">
                        <h4><span>Skype</span><a href="skype:varcoedesign?chat">varcoedesign</a></h4>
                    </li>

                    <li><img src="img/discord.png" alt="Skype" width="48" height="48">
                        <h4><span>Discord</span><a href="skype:varcoedesign?chat">varcoenet</a></h4>
                    </li>

                </ul>
            </div>

            <div class="clearfix"></div>
            <a href="/" class="logofooter"></a>
        </div>
    </section>

</Layout>
