---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Varcoe - Get In Touch">


    <section class="contact-box">
        <div class="container">
            <div class="contact-left">
                <div class="main-intro text-left">
                    <h1>Don't be shy,<br>talk to me.</h1>
                </div>
                

                <div class="feedback-form">
        <form 
           name="contact" 
           method="POST" 
           id="my-contact-form" 
           data-netlify="true" 
         > 
           <div class="flex flex-wrap"> 
             <div class="col-span-12 grow form-group mb-2"> 
               <input 
                 type="text" 
                 class="form-control" 
                 name="name" 
                 id="name" 
                 placeholder={t("contact.name")} 
                 required 
               /> 
             </div> 
           </div> 
           <div class="flex flex-wrap"> 
             <div class="col-span-12 grow form-group mb-2"> 
               <input 
                 type="email" 
                 class="form-control" 
                 name="email" 
                 id="email" 
                 placeholder={t("contact.email")} 
                 required 
               /> 
             </div> 
           </div> 
           <div class="flex flex-wrap"> 
             <div class="col-span-12 grow form-group mb-2"> 
               <textarea 
                 class="form-control" 
                 name="message" 
                 placeholder={t("contact.message")} 
                 required></textarea> 
             </div> 
           </div> 
           <p id="submitBtn"> 
             <button type="submit">{t("contact.submitBtn")}</button> 
           </p> 
         </form>
                </div>



            </div> 

            <div class="one-third">
                <ul>
                    <li><img src="img/email.png" alt="Email" width="48" height="48">
                        <h4><span>Direct Email</span><a href="mailto:korey@varcoe.net">korey@varcoe.net</a></h4>
                    </li>
                    <li><img src="img/skype.png" alt="Skype" width="48" height="48">
                        <h4><span>Skype</span><a href="skype:varcoedesign?chat">varcoedesign</a></h4>
                    </li>

                    <li><img src="img/discord.png" alt="Skype" width="48" height="48">
                        <h4><span>Discord</span><a href="skype:varcoedesign?chat">varcoenet</a></h4>
                    </li>

                </ul>
            </div>

            <div class="clearfix"></div>
            <a href="/" class="logofooter"></a>
        </div>
    </section>

</Layout>



<style>
    .feedback-form {
    margin: 40px 40px;
    min-width: 250px;
    width: 45%;
  }
  input,
  textarea,
  button {
    font-size: inherit;
    margin: 15px 0;
    padding: 12px 20px;
    width: 100%;
  }
  button {
    background-color: teal;
    border: 1px solid black;
    color: white;
    width: 50%;
  }
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  </style>