---
import Layout from '../layouts/Layout.astro';
import WorkPreview from '../components/work-preview.astro';
---

<Layout title="Varcoe - Get In Touch">


    <section class="contact-box">
        <div class="container">
            <div class="contact-left">
                <div class="main-intro text-left">
                    <h1>Don't be shy,<br>talk to me.</h1>
                </div>
                

                <div class="feedback-form">
                    <form
                      netlify
                      netlify-honeypot
                      name="feedback"
                      method="POST"
                      action="/thankyou"
                    >
                      <p class="hidden">
                        <label>
                          Don't fill this out if you're human: <input name="bot-field" />
                        </label>
                      </p>
                      <input type="hidden" name="form-name" value="feedback" />
                      <label for="name">Name</label>
                      <input id="name" type="text" name="name" />
                      <label for="email">Email</label>
                      <input id="email" type="email" name="email" required />
                      <label for="feedback">What is your feedback?</label>
                      <textarea id="feedback" wrap="soft" name="feedback" required></textarea>
                      <button type="submit">Submit</button>
                    </form>
                </div>



            </div> 

            <div class="one-third">
                <ul>
                    <li><img src="img/email.png" alt="Email" width="48" height="48">
                        <h4><span>Direct Email</span><a href="mailto:korey@varcoe.net">korey@varcoe.net</a></h4>
                    </li>
                    <li><img src="img/skype.png" alt="Skype" width="48" height="48">
                        <h4><span>Skype</span><a href="skype:varcoedesign?chat">varcoedesign</a></h4>
                    </li>

                    <li><img src="img/discord.png" alt="Skype" width="48" height="48">
                        <h4><span>Discord</span><a href="skype:varcoedesign?chat">varcoenet</a></h4>
                    </li>

                </ul>
            </div>

            <div class="clearfix"></div>
            <a href="/" class="logofooter"></a>
        </div>
    </section>

</Layout>



<style>
    .feedback-form {
    margin: 40px 40px;
    min-width: 250px;
    width: 45%;
  }
  input,
  textarea,
  button {
    font-size: inherit;
    margin: 15px 0;
    padding: 12px 20px;
    width: 100%;
  }
  button {
    background-color: teal;
    border: 1px solid black;
    color: white;
    width: 50%;
  }
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  </style>