---
import Layout from '../layouts/Layout.astro';
import WorkPreview from '../components/work-preview.astro';
---

<Layout title="Varcoe - Get In Touch">


    <section class="contact-box">
        <div class="container">
            <div class="contact-left">
                <div class="main-intro text-left">
                    <h1>Don't be shy,<br>talk to me.</h1>
                </div>
                
                <h2>Contact Form</h2>

                <h2>Contact Form</h2>
                <form method="post" name="My Contact Form 7" action="/thankyou.html" id="myForm" netlify ref="formTag" >
                <p>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" v-model="name">
                </p>
                <p>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" v-model="email">
                </p>
                <p>
                    <label for="comments">Comments:</label><br/>
                    <textarea name="comments" id="comments" v-model="comments"></textarea>
                </p>
                <p>
                    <input type="submit" @click.prevent="sendForm">
                </p>
                </form>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script>
            const app = new Vue({
                el:'#myForm',
                data:{
                    name:'',
                    email:'',
                    comments:''
                },
                methods:{
                    async sendForm() {
                        let formName = this.$refs.formTag.getAttribute('name');
                    
                        let formData = new FormData();
                        formData.append('name', this.name);
                        formData.append('email', this.email);
                        formData.append('comments', this.comments);
                        formData.append('form-name', formName);
                        let resp = await fetch('/', {
                            method:'POST',
                            body:formData
                        });
                        // assume ok, although double check
                        alert('Submitted!');
                    }
                }
            });
            </script>


            </div> 

            <div class="one-third">
                <ul>
                    <li><img src="img/email.png" alt="Email" width="48" height="48">
                        <h4><span>Direct Email</span><a href="mailto:korey@varcoe.net">korey@varcoe.net</a></h4>
                    </li>
                    <li><img src="img/skype.png" alt="Skype" width="48" height="48">
                        <h4><span>Skype</span><a href="skype:varcoedesign?chat">varcoedesign</a></h4>
                    </li>

                    <li><img src="img/discord.png" alt="Skype" width="48" height="48">
                        <h4><span>Discord</span><a href="skype:varcoedesign?chat">varcoenet</a></h4>
                    </li>

                </ul>
            </div>

            <div class="clearfix"></div>
            <a href="/" class="logofooter"></a>
        </div>
    </section>

</Layout>
