
---
import Layout from '../layouts/Layout.astro';
import WorkPreview from '../components/work-preview.astro';
---

<Layout title="Varcoe - Host Mantis">


    <section class="casestudy" style="background:#f9f8f2;">
        <div class="container">
            <div class="hero-center">
                <img src="/img/mantis/logo.png" alt="Host Mantis Web Design">
                <h1 style="color:#1e1f24;">If the mantis don't getcha, the design will</h1>
                <img src="/img/mantis/threepreviews.png" alt="mantis web deisgner" class="hero-center-img">
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <section class="casestudy-main">
        <div class="container">
            <div class="casestudy-main-left">
                <h1>Host Mantis</h1>
                <p>The Host Mantis team wanted a light website design with more of a modern touch then they had previously. We worked together to come up with something simple and to the point, no vibrant in your face stock photos/images. Just to the point, web hosting. I tweaked their color scheme a bit and they were happy with the overall look.</p>
                <a href="https://www.hostmantis.com/" class="button" rel="nofollow" target="_blank">The Website</a>
            </div>
            <div class="casestudy-main-right">
                <ul>
                    <li>Platform</li>
                    <li>Desktop</li>
                    <li>Mobile</li>
                </ul>
                <ul>
                    <li>Services</li>
                    <li>Website Design</li>
                    <li>Responsive Coding</li>
                    <li>WHMCS Integration</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <section class="casestudy-preview">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a data-target="#colors" data-toggle="tab">Colors</a></li>
                <li><a data-target="#typo" data-toggle="tab">Typography</a></li>
                <li><a data-target="#icons" data-toggle="tab">Icons</a></li>
            </ul>
            <h2>Colors, Typography, and Icons.</h2>

            <div class="tab-content">
                <div class="tab-pane active" id="colors">
                    <div class="colorbox" style="background:#85d44a;">
                        <h3>Primary<br>Color</h3>
                        <span>#85d44a</span>
                    </div>
                    <div class="colorbox" style="background:#fb8531;">
                        <h3>Secondary<br>Color</h3>
                        <span>#fb8531</span>
                    </div>
                    <div class="colorbox" style="background:#2c2c2b;">
                        <h3>Tertiary<br>Color</h3>
                        <span>#2c2c2b</span>
                    </div>
                    <div class="colorbox" style="background:#0e0e0d;">
                        <h3>Header<br>Text</h3>
                        <span>#0e0e0d</span>
                    </div>
                    <div class="colorbox" style="background:#696764;">
                        <h3>Body<br>Text</h3>
                        <span>#696764</span>
                    </div>
                </div>
                <div class="tab-pane" id="typo">
                    <div class="one-half">
                        <h1 class="Roboto"><small>Roboto</small>The quick fox jumps over the lazy dog.</h1>
                    </div>
                    <div class="one-half">
                        <h1 class="proximanova"><small>Proxima Nova</small></h1>
                        <p class="proximanova" style="font-size:30px;line-height:36px;padding-top:16px;">The quick fox jumps over the lazy dog.</p>
                        <p class="proximanova" style="font-size:24px;line-height:30px;">The quick fox jumps over the lazy dog.</p>
                        <p class="proximanova" style="font-size:20px;line-height:26px;">The quick fox jumps over the lazy dog.</p>
                    </div>
                </div>

                <div class="tab-pane" id="icons">
                    <div class="one-sixth">
                        <img src="/img/mantis/icon-1.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/mantis/icon-2.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/mantis/icon-3.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/mantis/icon-4.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/mantis/icon-5.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/mantis/icon-6.png" alt="">
                    </div>

                    <div class="clearicon"></div>

                    <div class="one-sixth">
                        <img src="/img/mantis/icon-7.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/mantis/icon-8.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/mantis/icon-9.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/mantis/icon-10.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/mantis/icon-11.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/mantis/icon-12.png" alt="">
                    </div>

                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </section>
    <section class="cs-preview">
        <div class="container">

            <div class="small-header centered">
                The Design
            </div>
            <h2>The new look</h2>
            <div class="clickanywhere">Click any preview below to view in full<br>screen and additional pages</div>

            <div class="one-third">
                <a data-fancybox="gallery" href="/img/mantis/two-big.png" class="fancybox"><img src="/img/mantis/two.png"></a>
            </div>
            <div class="one-third">
                <a data-fancybox="gallery" href="/img/mantis/one-big.png" class="fancybox"><img src="/img/mantis/one.png"></a>
            </div>
            <div class="one-third">
                <a data-fancybox="gallery" href="/img/mantis/three-big.png" class="fancybox"><img src="/img/mantis/three.png"></a>
            </div>
            <div class="one-third" style="display:none;">
                <a data-fancybox="gallery" href="/img/mantis/four-big.png" class="fancybox"><img src="/img/mantis/four-big.png"></a>
            </div>
            <div class="one-third" style="display:none;">
                <a data-fancybox="gallery" href="/img/mantis/four-big.png" class="fancybox"><img src="/img/mantis/five-big.png"></a>
            </div>


            <div class="clearfix"></div>
        </div>
    </section>

	
    <div class="inner-pagination work">
        <div class="speedybox one-half left">
            <WorkPreview
                title="Designed for speed, because of course it is"
                imglink="/img/speedy/logo.png"
                link="/speedypage"
                services="WEB DESIGN / CODING"
                type="Hosting Provider"
            />
        </div>
        <div class="jaxnap one-half right">
            <WorkPreview
                title="A realism design for a real cool company"
                imglink="/img/jaxnap/logo.png"
                link="/jaxnap"
                services="WEB DESIGN / CODING"
                type="Datacenter"
            />
        </div>
    </div>
    
    
        <div class="clearfix"></div>
      
    
    </Layout>
    