---
import Layout from '../layouts/Layout.astro';
import WorkPreview from '../components/work-preview.astro';
---

<Layout title="Varcoe - Web Design | WordPress | Mobile Design | Responsive Coding | Web Hosting Design">

	
    <section class="main-intro">
		<div class="container">
		  <h1>Creative solutions that will grow your business!</h1>
		</div>
	  </section>
  
	  <section class="work">
		<div class="container">
		  <div class="flex-grid two">
			<div class="col hosthavoc has-new">
				<WorkPreview
					title="Wrecking Havoc with this website design"
					imglink="/img/hosthavoc/logo.svg"
					link="hosthavoc"
					services="WEB DESIGN / CODING"
					type="Game Server Provider"
				/>
			</div>
			<div class="col pronotary has-new">
				<WorkPreview
					title="Seamless Notarization. Anytime, Anywhere."
					imglink="/img/pronotary/logo.svg"
					link="pronotary"
					services="WEB DESIGN / CODING"
					type="Software Company"
				/>
			</div>
			<div class="col moonqubebox has-new">
				<WorkPreview
					title="Affordable cloud hosting to the moooon"
					imglink="/img/moonqube/logo.svg"
					link="moonqube"
					services="WEB DESIGN / CODING / DEV"
					type="Cloud Provider"
				/>
			</div>
			<div class="col streamlinebox has-new">
				<WorkPreview
					title="The perfect combination of gaming and functionality"
					imglink="/img/streamline/logo.svg"
					link="streamline"
					services="WEB DESIGN / CODING"
					type="Game Server Provider"
				/>
			</div>
			<div class="col ggserverbox">
				<WorkPreview
					title="The foundation for a GG Minecraft provider"
					imglink="/img/ggserver/logo.png"
					link="ggservers"
					services="WEB DESIGN / CODING"
					type="Game Server Provider"
				/>
			</div>
			<div class="col shockbox">
				<WorkPreview
					title="A website designed to shock and awe"
					imglink="/img/shockhosting/logo.png"
					link="shockhosting"
					services="WEB DESIGN / CODING"
					type="Hosting Provider"
				/>
			</div>
			<div class="col oasisbox">
				<WorkPreview
					title="An oasis of design for a game server provider"
					imglink="/img/oasis/logo.png"
					link="oasis"
					services="WEB DESIGN / CODING"
					type="Game Server Provider"
				/>
			</div>
			<div class="col speedybox">
				<WorkPreview
					title="Designed for speed, because of course it is"
					imglink="/img/speedy/logo.png"
					link="speedypage"
					services="WEB DESIGN / CODING"
					type="Hosting Provider"
				/>
			</div>
			<div class="col hostmantisbox">
				<WorkPreview
					title="If the mantis don't getcha, the design will"
					imglink="/img/mantis/logo.png"
					link="hostmantis"
					services="WEB DESIGN / CODING"
					type="Hosting Provider"
				/>
			</div>
			<div class="col jaxnap">
				<WorkPreview
					title="A realism design for a real cool company"
					imglink="/img/jaxnap/logo.png"
					link="jaxnap"
					services="WEB DESIGN / CODING"
					type="Datacenter"
				/>
			</div>
		  </div>
		</div>
	  </section>
  

</Layout>
