
---
import Layout from '../layouts/Layout.astro';
import WorkPreview from '../components/work-preview.astro';
---

<Layout title="Varcoe - Jax Nap">

    

    <section class="casestudy" style="background:#202327;">
        <div class="container">
            <div class="hero-center">
                <img src="/img/jaxnap/logo.png" alt="JAXNAP">
                <h1>A realism design for a real cool company.</h1>
                <img src="/img/jaxnap/threepreviews.png" alt="" class="hero-center-img">
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <section class="casestudy-main">
        <div class="container">
            <div class="casestudy-main-left">
                <h1>JAXNAP</h1>
                <h2>Florida’s Network Interconnection Point</h2>
                <p>JAX NAP needed a superior design to match their superior and expanding services. We decided to go with a realism design, with a modern touch. Keeping the focus on content yet having some fun along the way.</p>
                <a href="javascript:void()" class="button disabled">Link Coming Soon</a>
            </div>
            <div class="casestudy-main-right">
                <ul>
                    <li>Platform</li>
                    <li>Desktop</li>
                    <li>Mobile</li>
                </ul>
                <ul>
                    <li>Services</li>
                    <li>Website Design</li>
                    <li>Responsive Coding</li>
                    <li>WHMCS Order Form</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <section class="casestudy-preview">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a data-target="#colors" data-toggle="tab">Colors</a></li>
                <li><a data-target="#typo" data-toggle="tab">Typography</a></li>
                <li><a data-target="#icons" data-toggle="tab">Icons</a></li>
            </ul>
            <h2>Colors, Typography, and Icons.</h2>

            <div class="tab-content">
                <div class="tab-pane active" id="colors">
                    <div class="colorbox" style="background:#fd7b2d;">
                        <h3>Primary<br>Color</h3>
                        <span>#fd7b2d</span>
                    </div>
                    <div class="colorbox" style="background:#5ab52e;">
                        <h3>Secondary<br>Color</h3>
                        <span>#5ab52e</span>
                    </div>
                    <div class="colorbox" style="background:#1a1c1f;">
                        <h3>Tertiary<br>Color</h3>
                        <span>#1a1c1f</span>
                    </div>
                    <div class="colorbox" style="background:#12171f;">
                        <h3>Header<br>Text</h3>
                        <span>#12171f</span>
                    </div>
                    <div class="colorbox" style="background:#545b66;">
                        <h3>Body<br>Text</h3>
                        <span>#545b66</span>
                    </div>
                </div>
                <div class="tab-pane" id="typo">
                    <div class="one-half">
                        <h1 class="mont"><small>Montserrat</small>The quick fox jumps over the lazy dog.</h1>
                    </div>
                    <div class="one-half">
                        <h1><small>Proxima Nova</small></h1>
                        <p style="font-size:30px;line-height:36px;padding-top:16px;font-weight:400;">The quick fox jumps over the lazy dog.</p>
                        <p style="font-size:24px;line-height:30px;font-weight:400;">The quick fox jumps over the lazy dog.</p>
                        <p style="font-size:20px;line-height:26px;font-weight:400;">The quick fox jumps over the lazy dog.</p>
                    </div>
                </div>

                <div class="tab-pane" id="icons">
                    <div class="one-sixth">
                        <img src="/img/jaxnap/icon-1.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/jaxnap/icon-2.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/jaxnap/icon-3.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/jaxnap/icon-4.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/jaxnap/icon-5.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/jaxnap/icon-6.png" alt="">
                    </div>

                    <div class="clearicon"></div>

                    <div class="one-sixth">
                        <img src="/img/jaxnap/icon-7.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/jaxnap/icon-8.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/jaxnap/icon-9.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/jaxnap/icon-10.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/jaxnap/icon-11.png" alt="">
                    </div>
                    <div class="one-sixth">
                        <img src="/img/jaxnap/icon-12.png" alt="">
                    </div>

                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </section>
    <section class="cs-preview">
        <div class="container">

            <div class="small-header centered">
                The Design
            </div>
            <h2>The new look</h2>
            <div class="clickanywhere">Click any preview below to view in full<br>screen and additional pages</div>

            <div class="one-third">
                <a data-fancybox="gallery" href="/img/jaxnap/jaxnap-one-big.png" class="fancybox"><img src="/img/jaxnap/jaxnap-one.png"></a>
            </div>
            <div class="one-third">
                <a data-fancybox="gallery" href="/img/jaxnap/jaxnap-two-big.png" class="fancybox"><img src="/img/jaxnap/jaxnap-two.png"></a>
            </div>
            <div class="one-third">
                <a data-fancybox="gallery" href="/img/jaxnap/jaxnap-three-big.png" class="fancybox"><img src="/img/jaxnap/jaxnap-three.png"></a>
            </div>
            <div class="one-third" style="display:none;">
                <a data-fancybox="gallery" href="/img/jaxnap/jaxnap-four-big.png" class="fancybox"><img src="/img/jaxnap/jaxnap-four-big.png"></a>
            </div>
            <div class="one-third" style="display:none;">
                <a data-fancybox="gallery" href="/img/jaxnap/jaxnap-five-big.png" class="fancybox"><img src="/img/jaxnap/jaxnap-five-big.png"></a>
            </div>

            <div class="one-third" style="display:none;">
                <a data-fancybox="gallery" href="/img/jaxnap/jaxnap-six-big.png" class="fancybox"><img src="/img/jaxnap/jaxnap-six-big.png"></a>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>


	

    <div class="inner-pagination work">
        <div class="hostmantisbox one-half left">
            <WorkPreview
                title="If the mantis don't getcha, the design will"
                imglink="/img/mantis/logo.png"
                link="/hostmantis"
                services="WEB DESIGN / CODING"
                type="Hosting Provider"
            />
        </div>
        <div class="hosthavoc one-half right">
            <WorkPreview
                title="Wrecking Havoc with this website design"
                imglink="/img/hosthavoc/logo.svg"
                link="/hosthavoc"
                services="WEB DESIGN / CODING"
                type="Game Server Provider"
            />
        </div>
    </div>
    
    
        <div class="clearfix"></div>
      
    
    </Layout>
    