---
import Layout from '../layouts/Layout.astro';
import WorkPreview from '../components/work-preview.astro';
---

<Layout title="Varcoe - Pro Notary">

    <section class="casestudy" style="background:#FF6C2D;">
        <div class="container">
            <div class="hero-center">
                <img src="/img/pronotary/logo.svg" alt="Pro Notary">
                <h1>Seamless Notarization. Anytime, Anywhere.</h1>
                <img src="/img/pronotary/threepreviews.png" alt="" class="hero-center-img">
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <section class="casestudy-main">
        <div class="container">
            <div class="casestudy-main-left">
                <h1>Pro Notary</h1>
                <h2>Cloud Hosting Provider</h2>
                <p>The team over at Pro Notary were looking for a fresh new website to show off their Remote Online Notarization software. I kept the focus on the software by including lots of features, control panel images, and in the future videos showing how the software works.</p>
                <a href="javascript:void(0)" class="button disabled">Link Coming Soon</a>
            </div>
            <div class="casestudy-main-right">
                <ul>
                    <li>Platform</li>
                    <li>Desktop</li>
                    <li>Mobile</li>
                </ul>
                <ul>
                    <li>Services</li>
                    <li>Website Design</li>
                    <li>Responsive Coding</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <section class="casestudy-preview">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a data-target="#colors" data-toggle="tab">Colors</a></li>
                <li><a data-target="#typo" data-toggle="tab">Typography</a></li>
                <li><a data-target="#icons" data-toggle="tab">Icons</a></li>
            </ul>
            <h2>Colors, Typography, and Icons.</h2>

            <div class="tab-content">
                <div class="tab-pane active" id="colors">
                    <div class="colorbox" style="background:#FF6C2D;">
                        <h3>Primary<br>Color</h3>
                        <span>#FF6C2D</span>
                    </div>
                    <div class="colorbox" style="background:#5D40BF;">
                        <h3>Secondary<br>Color</h3>
                        <span>#5D40BF</span>
                    </div>
                    <div class="colorbox" style="background:#15D16C;">
                        <h3>Tertiary<br>Color</h3>
                        <span>#15D16C</span>
                    </div>
                    <div class="colorbox" style="background:#0C0C52;">
                        <h3>Header<br>Text</h3>
                        <span>#0C0C52</span>
                    </div>
                    <div class="colorbox" style="background:#515C77;">
                        <h3>Body<br>Text</h3>
                        <span>#515C77</span>
                    </div>
                </div>
                <div class="tab-pane" id="typo">
                    <div class="one-half">
                        <h1><small>Proxima Nova</small>The quick fox jumps over the lazy dog.</h1>
                    </div>
                    <div class="one-half">
                        <h1><small>Proxima Nova</small></h1>
                        <p style="font-size:30px;line-height:36px;padding-top:16px;font-weight:400;">The quick fox jumps over the lazy dog.</p>
                        <p style="font-size:24px;line-height:30px;font-weight:400;">The quick fox jumps over the lazy dog.</p>
                        <p style="font-size:20px;line-height:26px;font-weight:400;">The quick fox jumps over the lazy dog.</p>
                    </div>
                </div>

                <div class="tab-pane" id="icons">
                  <p>
					I decided on <a href="https://fontawesome.com/v6/" target="_blank">Font Awesome v6</a> for this project, along with these other icons:
                  </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>



    <section class="cs-preview">
        <div class="container">
            <div class="small-header centered">
                The Design
            </div>
            <h2>The new look</h2>
            <div class="clickanywhere">Click any preview below to view in full<br>screen and additional pages</div>

            <div class="one-third">
                <a data-fancybox="gallery" href="/img/pronotary/two-big.png" class="fancybox"><img src="/img/pronotary/two.png"></a>
            </div>
            <div class="one-third">
                <a data-fancybox="gallery" href="/img/pronotary/one-big.png" class="fancybox"><img src="/img/pronotary/one.png"></a>
            </div>
            <div class="one-third">
                <a data-fancybox="gallery" href="/img/pronotary/three-big.png" class="fancybox"><img src="/img/pronotary/three.png"></a>
            </div>
            <div class="one-third" style="display:none;">
                <a data-fancybox="gallery" href="/img/pronotary/four-big.png" class="fancybox"><img src="/img/pronotary/four-big.png"></a>
            </div>
            <div class="one-third" style="display:none;">
                <a data-fancybox="gallery" href="/img/pronotary/five-big.png" class="fancybox"><img src="/img/pronotary/five-big.png"></a>
            </div>

            <div class="one-third" style="display:none;">
                <a data-fancybox="gallery" href="/img/pronotary/six-big.png" class="fancybox"><img src="/img/pronotary/six-big.png"></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>



	
    <div class="inner-pagination work">
	<div class="hosthavoc has-new one-half left">
        <WorkPreview
            title="Wrecking Havoc with this website design"
            imglink="/img/hosthavoc/logo.svg"
            link="/hosthavoc"
            services="WEB DESIGN / CODING"
            type="Game Server Provider"
        />
	</div>
	<div class="moonqubebox has-new one-half right">
        <WorkPreview
            title="Affordable cloud hosting to the moooon"
            imglink="/img/moonqube/logo.svg"
            link="/moonqube"
            services="WEB DESIGN / CODING / DEV"
            type="Cloud Provider"
        />
	</div>
</div>


    <div class="clearfix"></div>
  

</Layout>
