---
import ContactLayout from '../layouts/ContactLayout.astro';
---

<ContactLayout title="Varcoe - Success">


  <section class="contact-box">
      <div class="container">

          <div class="contact-left">
              <div class="main-intro text-left">
                  <h1>I've got your message!</h1>
                  <h3 style="margin-top:15px;color: #550ddd;">I'll get back to you as soon as possible.</h3>
                  <p>Feel free to reach out on discord or skype listed on the right.</p>
              </div>
              


          </div>

          <div class="one-third" style="margin-top:160px;">
              <ul>
                  <li><img src="img/email.png" alt="Email" width="48" height="48">
                      <h4><span>Direct Email</span><a href="#">korey@varcoe.net</a></h4>
                  </li>
                  <li><img src="img/skype.png" alt="Skype" width="48" height="48">
                      <h4><span>Skype</span><a href="skype:varcoedesign?chat">varcoedesign</a></h4>
                  </li>

                  <li><img src="img/discord.png" alt="Discord" width="48" height="48">
                    <h4><span>Discord</span><a href="javascript:void(0)">varcoenet</a></h4>
                  </li>

              </ul>
          </div>

          <div class="clearfix"></div>
          <a href="/" class="logofooter"></a>
      </div>
  </section>

</ContactLayout>
