
        <section class="footer">
            <div class="container">
                <h1><small>Are you ready?</small>Let's Talk.</h1>
                <a href="contact" class="button">Contact Me</a>
                <a href="index.php" class="logofooter"></a>
            </div>
        </section>
        
        <footer>
            <div class="container">
                <div class="left">
                    &copy; 2023 Varcoe.net. All Rights Reserved
                </div>
                <div class="right">
                    <ul>
                        <li><a href="https://twitter.com/varcoetweets" class="twitter" target="_blank">Twitter</a></li>
                        <li>&nbsp; / &nbsp;</li>
                        <li><a href="https://www.facebook.com/varcoedesign" class="instagram" target="_blank">Facebook</a></li>
                        <li class="hide">&nbsp; / &nbsp;</li>
                        <li class="hide"><a href="#" class="dribble">Dribble</a></li>
                    </ul>
                </div>
            </div>
        </footer>



        <script src="/js/jquery.fancybox.js" type="text/javascript"></script>
        <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" type="text/javascript"></script>
        
	<script>
		$('.nav-tabs li').click(function() {
			$('.nav-tabs .active').removeClass('active');
	  		$(this).toggleClass('active');
	  	});
        
            $('#toggle').click(function() {
           $(this).toggleClass('active');
           $('#overlay').toggleClass('open');
          });

            $(document).ready(function() {
                // Get the current page name from the URL
                var pathArray = window.location.pathname.split('/');
                var pageName = pathArray[pathArray.length - 1];

                // Remove file extension if present (e.g., '.html')
                pageName = pageName.replace(/\.[^/.]+$/, '');

                // Add the page name followed by "-bg" as a class to the <html> element
                var className = pageName;
                $('html').addClass(className);
            });


        </script>