        <header class="header">
            <div class="container">
                <a href="/" class="logo"></a>
                <nav class="main-navigation">
                    <ul>
                        <li><a href="/">Work</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="https://varcoe.net/blog/">Blog</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>

                <div class="button_container" id="toggle">
                  <span class="top"></span>
                  <span class="middle"></span>
                  <span class="bottom"></span>
                </div>

                <div class="overlay" id="overlay">
                <a href="/" class="whitelogo"></a>
                  <nav class="overlay-menu">
                    <ul>
                        <li><a href="/">Work</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="https://varcoe.net/blog/">Blog</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                  </nav>
                    <div class="email">
                        <span>SAY HELLO</span>
                        <ul>
                            <li><a href="mailto:korey@varcoe.net">korey@varcoe.net</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
